{% extends "banksite/base.html" %}
{% load url from future %}
{% block title %}Login{% endblock %}

{% block content %}
    <form action="{% url 'login' %}" method="post" id="login_form">
        {% csrf_token %}
        <label for="uid">User ID</label>
        <input type="text" id="uid" name="uid">
        <label for="password">Password</label>
        <input type="password" id="password" name="password">
        <input type="submit" value="Login">
    </form>
{% endblock %}
{% block script %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/login.js"></script>
{% endblock %}