
{% extends "base.html"%}
{%block script%}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.cookie.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/signpass.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/login.js"></script>

{%endblock%}
{%block title%}Login{%endblock%}

{%block content%}
 <form action="" method="post" id="login_form">
        {% csrf_token %}
        <table id="secureLogonTable" width="270" height="170" border="0" cellpadding="0"
               cellspacing="0" bgcolor="#F2F2E1">
            <tr align="center">
                <td width="5">&nbsp;</td>
                <td height="35" colspan="3" class="bodyTextSecureLogon">
					SignPass is connecting to {{service_name}}
                </td>
            </tr>
            <tr>
                <td width="5"></td>
                <td align="right" class="bodyTextBold" style="width: 79px;">SignPass Username</td>
                <td width="10" rowspan="10">
                    <img src="https://chaseonline.chase.com/images/spacer.gif"
                         width="10" height="10"/>
                </td>
                <td>
                    <input id="username" name="username" type="text"
                           maxlength="32" tabindex="1"
                           title="Enter your signpass username" style="width: 160;"/>
                    <!--mp_trans_schedule_disable_start-->

                    <!--mp_trans_schedule_disable_end-->
                </td>
            </tr>
            <tr align="center">
                <td width="5">&nbsp;</td>
                <td height="35" colspan="3" class="bodyTextSecureLogon">
                     <input type="submit" value="Connect with SignPass"/>
                </td>
            </tr>
              <input id="service_name" name="service_name" value="{{service_name}}" type="hidden"/>
              <input id="service_uid" name="service_uid" value="{{service_uid}}" type="hidden"/>
			 
        </table>
    </form>
    <div id="dialog" style="display: none;"><p>We have sent the SignPass Notification to your iPhone!</p>

        <p style="font-size:0.8em">Please sign your signature to verify!</p></div>
{%endblock%}

